<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoringSSL.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Pods-test.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Pods-testUITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Protobuf.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>gRPC-gRPCCertificates.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gRPC.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gRPC_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F0DEE284B125511FBF8AEAEC0093ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BD43443ED5D98BB2009B4ADD3E5DE97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40E383E4B79BA228A313483DA01686A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F417611CD22D0B005D38BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56E6D785F2F0DE144D17C95A5A3CA2D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC9600592B4F36A82E0F1770D734B389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34964DB8E97DE4A48EAFC2D18EB85F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
