<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoringSSL.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Sample.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Protobuf.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>RemoteTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>gRPC-Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>gRPC-ProtoRPC.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>gRPC-RxLibrary.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>gRPC-gRPCCertificates.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>gRPC.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CE549970C26436469B31F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4569C8EBC0FE215C61D38D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FC77528A92D9DD2F05D734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4BCD9B60FD7AA4E94F4F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B880D54C22A4BC9E7FBE7075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFAFE45E7F8417155E5C3113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E348301B1EB00C96F304AFD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EACE5079AE95D3C228114BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F983459440FA3239E3E77E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
